<p id="notice"><%= notice %></p>

<h1>Listing Runners</h1>
<%= paginate @runners %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Birth date</th>
      <th>Sex</th>
      <th>Participations</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @runners.each do |runner| %>
      <tr>
        <td><%= runner.first_name %></td>
        <td><%= runner.last_name %></td>
        <td><%= runner.birth_date %></td>
        <td><%= runner.sex %></td>
        <td><%= runner.runs.size %></td>
        <td><%= link_to 'Show', runner %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @runners %>
<br>

<%= link_to 'New Runner', new_runner_path %>
