<p id="notice"><%= notice %></p>
<h1>Runner</h1>
<p>
  <strong>First name:</strong>
  <%= @runner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @runner.last_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @runner.birth_date %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @runner.sex %>
</p>

<p>
  <strong>Club or Hometown:</strong>
  <%= @runner.club_or_hometown %>
</p>

<h1>Runs</h1>

<% if @runner.runs.empty? %>
    No runs available
<% else %>
    <%= render 'chart', runners: [@runner] %>
    <table class="table table-striped">
      <thead>
      <th>Day</th>
      <th>Category</th>
      <th>Duration</th>
      </thead>
      <% @runner.runs.decorate.each do |run| %>
          <tr>
            <td><%= I18n.l run.run_day.date %></td>
            <td><%= run.category.name %></td>
            <td><%= run.duration %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
