<p id="notice"><%= notice %></p>
<h1><%= @runner.first_name %> <%= @runner.last_name %></h1>
<dl class="dl-horizontal">
  <dt><%= Runner.human_attribute_name :birth_date %></dt>
  <dd><%= I18n.l @runner.birth_date %></dd>
  <dt><%= Runner.human_attribute_name :sex %></dt>
  <dd><%= @runner.sex %></dd>
  <dt><%= Runner.human_attribute_name :club_or_hometown %></dt>
  <dd><%= @runner.club_or_hometown %></dd>
</dl>

<h2>Runs</h2>

<% if @runner.runs.empty? %>
    No runs available
<% else %>
    <%= render 'chart', runners: [@runner] %>
    <table class="table table-striped">
      <thead>
      <th><%= Run.human_attribute_name :run_date %></th>
      <th><%= RunDay.human_attribute_name :weather %></th>
      <th><%= Run.human_attribute_name :category %></th>
      <th><%= Run.human_attribute_name :duration %></th>
      </thead>
      <% @runner.runs.each do |run| %>
          <tr>
            <td><%= I18n.l run.run_day.date %></td>
            <td><%= run.run_day.weather %></td>
            <td><%= run.category.name %></td>
            <td><%= run.duration_formatted %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
