<p id="notice"><%= notice %></p>
<h1>Runner</h1>
<p>
  <strong>First name:</strong>
  <%= @runner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @runner.last_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @runner.birth_date %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @runner.sex %>
</p>


<h1>Runs</h1>

<% if @runner.runs.empty? %>
    No runs available
<% else %>
    <script type="text/javascript" charset="utf-8">
        $(function(){
            new Highcharts.Chart({
                chart: {
                    renderTo: "runs_chart"
                },
                title: {
                    text: "Runs"
                },
                xAxis: {
                    type: "datetime"
                },
                yAxis: {
                    title: {
                        text: "Duration"
                    }
                },
                series: [{
                    pointInterval: <%= 1.year * 1000 %>,
                    data: [1,2,5,7,3,100,20]
                }]
            });
        });
    </script>
    <div id="runs_chart" style="width:560px; height:300px;"></div>

    <% @runner.runs.decorate.each do |run| %>
        <p>
          <strong>Duration:</strong>
          <%= run.duration %>
        </p>
    <% end %>
<% end %>
<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
