<p id="notice"><%= notice %></p>

<p>
  <strong>Merged first name:</strong>
  <%= @merge_runners_request.merged_first_name %>
</p>

<p>
  <strong>Merged last name:</strong>
  <%= @merge_runners_request.merged_last_name %>
</p>

<p>
  <strong>Merged club or hometown:</strong>
  <%= @merge_runners_request.merged_club_or_hometown %>
</p>

<p>
  <strong>Merged nationality:</strong>
  <%= @merge_runners_request.merged_nationality %>
</p>

<p>
  <strong>Merged sex:</strong>
  <%= @merge_runners_request.merged_sex %>
</p>

<p>
  <strong>Merge candidates:</strong>
  <%= @merge_runners_request.runners.map { |r| link_to r.id, r }.join(', ').html_safe %>
</p>

<%= link_to 'Edit', edit_merge_runners_request_path(@merge_runners_request) %> |
<%= link_to 'Back', merge_runners_requests_path %>
