<p id="notice"><%= notice %></p>

<h1>Listing Runs</h1>
<%= paginate @runs %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Duration</th>
      <th>Runner</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td class="col-xs-1"><%= run.duration %></td>
        <td><%= link_to run.runner_name, run.runner %></td>
        <td><%= run.category.name %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Edit', edit_run_path(run) %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @runs %>