<p id="notice"><%= notice %></p>

<p>
  <strong>Sex:</strong>
  <%= @category.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @category.age %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
