<!DOCTYPE html>
<html>
<head>
  <title>GpCollect</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= navbar do %>
    <%= vertical do %>
        <%= link_to 'GP collect', root_path %>
    <% end %>
    <%= horizontal do %>
        <%= nav do %>
            <%= link_to 'Runners', runners_path %>
            <%= link_to 'Categories', categories_path %>
        <% end %>
        <%= nav class: 'navbar-right' do %>
            <% if current_admin %>
                <%= link_to 'Logout', destroy_admin_session_path, method: 'delete' %>
            <% else %>
                <%= link_to 'Login', new_admin_session_path %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
<div class="container" role="main">
  <%= flash_messages %>
  <%= yield %>
</div>
</body>
</html>
