<!DOCTYPE html>
<html>
<head>
  <title>GpCollect</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= navbar do %>
    <%= vertical do %>
        <%= link_to 'GP collect', root_path %>
    <% end %>
    <%= horizontal do %>
        <%= nav do %>
            <%= link_to 'Runners', runners_path %>
            <%= link_to 'Remembered Runners', show_remembered_runners_path %>
            <%= link_to 'Forget Runners', '#', data: {forget_runners: true} %>
            <%= link_to 'Runs', runs_path %>
            <%= link_to 'Categories', categories_path %>
        <% end %>
    <% end %>
<% end %>
<div class="container" role="main">
  <%= yield %>
</div>
</body>
</html>
